<html>
    <head>
        <title>Template variable example</title>
        <style>
             <h1>
               {
                  color:red;
               }
             </h1>
              <h2>
               {
                  color:red;
               }
             <h2>
        </style>
    </head>
<center>
<body bgcolor="yellow">
      <h1><u>Employee Details</u></h1>
      <h2>Employee Name:{{name}}</h2>
      <h2>Employee Designation:{{desig}}</h2>
      <h2>Employee Experience:{{exp}}</h2>
      <h2>Employee Salary:{{sal}}</h2>
</body>
</center>
</html>